.key {
    width: 37px; float: left; margin-right: 10px
}

input:last-of-type {
    margin-right: 0;
   
}


.btn-circle {
    margin-top: 5px;
  width: 30px ;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.error {
   color: #ea2f10;
}
#footer {
    background: none;
}

#footer a {
    color: #FFF;
}
#footer span {
    color: #FFF;
}