
/* NAVBAR  */
a {
    color: #37474f; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #263238 !important;
    color: #ffffff;
}

.navbar-inverse {
    background-color: #37474f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 2px 2px rgba(0, 0, 0, 0.1);
    border-color: #37474f;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #37474f;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #263238;
    color: #ffffff;
}


.navbar-inverse .dropdown-menu {
    background-color: #37474f;
}

.navbar-inverse .dropdown-menu > li > a:hover, .navbar-inverse .dropdown-menu > li > .active > a, .navbar-inverse .dropdown-menu > li > .active > a:hover {
    background-color: #263238 !important;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #263238;
    color: #ffffff;
}

/* BUTTONS */

.btn-primary {
   background-color: #46be8a;
    border-color: #46be8a;
    color: #ffffff;
}
.btn-primary:hover {
   background-color: #82b440;
    border-color: #82b440;
    color: #ffffff;
}
.btn-primary:focus {
   background-color: #82b440;
    border-color: #82b440;
    color: #ffffff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #46be8a; 
    color: #ffffff;
  
}


/* CENTER DIV */

.col-centered{
    float: none;
    margin: 0 auto;
}
.vSpace {
    height: 40px;
}
.none {
    display: none;
}
glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}
.big {
    width: 95% !important;
}

.test {    

    width: 30% !important;

}

.modal-body {
    overflow-y: auto !important;   
}

#preloader-1 {
    position:absolute;
    top: 50%;
    left: 50%;
    display: none;
}
#preloader-1 span {
    position:absolute;
    border: 8px solid #37474f;
    border-top: 8px solid transparent;
    border-radius:999px;
}

#preloader-1 span:nth-child(1){
    width:80px;
    height:80px;
    animation: spin-1 2s infinite linear;
}
#preloader-1 span:nth-child(2){
    top: 20px;
    left: 20px;
    width:40px;
    height:40px;
    animation: spin-2 1s infinite linear;
}
.searchError {
    display: none;
}


.errorMail{
    display: none;
    margin-left: 10px;
}       

.error_show{
    color: red;
    margin-left: 10px;
}
input.invalid, textarea.invalid{
    border: 2px solid red;
}
@keyframes spin-1 {
    0% {transform: rotate(360deg); opacity: 1;}
    50% {transform: rotate(180deg); opacity: 0.5;}
    100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
    0% {transform: rotate(0deg); opacity: 0.5;}
    50% {transform: rotate(180deg); opacity: 1;}
    100% {transform: rotate(360deg); opacity: 0.5;}
}

/* CONTACT */


